<div class="container">
     <div class="row">
         <!-- First Ad -->
         <div class="col-md-6 col-12 mb-3">
             <div class="ad-box text-center border p-3">
               <!-- hr4 -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-4773662844156686"
data-ad-slot="7431465166"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <!--- Ad end-->
             </div>
         </div>
         <!-- Second Ad -->
         <div class="col-md-6 col-12 mb-3">
             <div class="ad-box text-center border p-3">
             <!--- Ad Start-->
               <script async
               src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle_direct.js?
               client=ca-pub-6776922497675532" crossorigin="anonymous">
          </script>
          <ins class="adsbygoogle"
               style="display:inline-block;width:300px;height:250px"
               data-ad-client="ca-pub-6776922497675532"
               /* novel2 */
               data-ad-slot="novel2"
               data-tag-src="gamtg">
          </ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
            <!--- Ad end-->
             </div>
         </div>
     </div>
   </div>
   