<div class="sticky-ad">
<!-- hr2 -->
 Advertisment
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-4773662844156686"
    data-ad-slot="6613207515"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- sidebar_github -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-4773662844156686"
     data-ad-slot="9611781654"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- hr1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4773662844156686"
     data-ad-slot="3683791849"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>