<div class="sticky-ad">
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4773662844156686"
     crossorigin="anonymous"></script>
<!-- git_page_side_01 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4773662844156686"
     data-ad-slot="1230012144"
     data-ad-format="auto"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4773662844156686"
     crossorigin="anonymous"></script>
<!-- 300x250_1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4773662844156686"
     data-ad-slot="2901922166"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>