<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Viewport settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <!-- Title and meta description -->
    <title>
      {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <meta name="description" content="{{ page.description | default: site.description }}">

    <!-- Meta keywords tag (optional) -->
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">

    <!-- Open Graph meta tags (optional) -->
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ site.baseurl }}/images/default-thumbnail.png">
    <meta property="og:type" content="website">

    <!-- Twitter card meta tags (optional) -->
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    <meta name="twitter:image" content="{{ site.baseurl }}/images/default-thumbnail.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Other meta tags (optional) -->
    <meta name="author" content="{{ site.author }}">

    <!-- Link to CSS files -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
  </head>
  <body id="page-top" style="background: url('{{ site.baseurl }}/images/background1.png'); background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-dark top-nav" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><strong>Unblocked Games</strong></a>
      </div>
    </nav>
    
    <div class="container">
      {{ content }}
    </div>
    
    <div class="footer-copyright py-4">
      <div class="container">
        Geometry Dash Unblocked Games - <a href="/dmca.html">DMCA</a>
      </div>
    </div>
    
    <script type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>
  </body>
</html>
