<!-- _includes/games.html -->
<div class="vex_x">
    <div style="text-align: justify; margin: 10px 10px 10px 10px;">
      <h3 class="section-title">Popular games</h3>
      <div class="row grid-container" style="margin-left: 6px; margin-right: 6px;">
        <div class="col-lg-2 col-md-4 col-6 grid-3">
          <a href="/play/1v1-lol.html">
            <div class="game-item">
              <div class="list-game">
                <div class="list-thumbnail">
                  <img src="images/1v1-lol.png" class="lazyload" alt="1v1-lol" title="1v1 lol Unblocked">
                  <div class="list-title" style="text-align:center;">1v1-lol</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- Add other games similarly -->
      </div>
    </div>
  </div>
  